basePath: /api/v1
definitions:
  data.Product:
    properties:
      description:
        type: string
      id:
        type: integer
      name:
        maxLength: 120
        type: string
      price:
        type: integer
    required:
    - name
    - price
    type: object
  handlers.HTTPError:
    properties:
      code:
        example: 400
        type: integer
      message:
        example: status bad request
        type: string
    type: object
  handlers.MessageWrapper:
    properties:
      message:
        example: OK
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: This is a swagger docs for product API.
  license:
    name: MIT
    url: https://mit-license.org/
  termsOfService: http://swagger.io/terms/
  title: Swagger product API
  version: "1.0"
paths:
  /products/:
    get:
      consumes:
      - application/json
      description: Get a list of all products
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/data.Product'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.HTTPError'
      summary: Get a list of products
      tags:
      - products
    post:
      consumes:
      - application/json
      description: Add a new product to the DB
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/handlers.MessageWrapper'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.HTTPError'
      summary: Add a new product
      tags:
      - products
    put:
      consumes:
      - application/json
      description: Update a product in the DB
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/handlers.MessageWrapper'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handlers.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.HTTPError'
      summary: Update a product
      tags:
      - products
swagger: "2.0"
